:root {
  --sl-content-width: 50rem;
  --sl-text-5xl: 3.5rem;
}
h1{
    color : var(--sl-color-accent-high);
}
h2{
    color : var(--slsg-node-color-7);
}
h3{
    color : var(--slsg-node-color-8);  

}

p a{
    color: blueviolet;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}
strong{
    color: var(--slsg-node-color-8);
}
